<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-itmes-center pt-3 pb-2 mb-3 border-bottom"><h1 class="h2">About</h1>
</div>

<img src="/img/about-pic.jpg" alt="laptop" width="250" height="316" style="border-radius: 75%;">

<div class="pt-3">
    <p>Hey!. This is DevTosan a full stack developer</p>
    <p>Check out my <a href="">YouTube Channel</a> Is a great training</p>
</div>